.dashboard {
  background: #f2eff7 0% 0% no-repeat padding-box;
  min-height: 100vh;

  &__container {
    padding-top: 100px;
    width: 80%;
    margin: auto;
  }

  &__ul {
    display: flex;
    margin: 30px 0;
    margin-left: 0;
    padding-left: 0;
  }

  &__ul li {
    list-style: none;
    min-width: 150px;
    font-family: 'Montserrat', Courier, monospace;
    font-size: 24px;
    color: #404040;
  }
}

.questions {
  height: 100%;

  & > * {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .dashboard {
    &__container {
      width: 90%;
    }
  }
}
