.progress__container {
  width: 100%;
  &-heading {
    font-size: 20px;

    span {
      margin-left: 20px;
    }
  }
}

.emptybox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background: #fff;
  margin-top: 40px;
}
