$primary: #8367c7;
$secondary: #f0aa4f;

@import 'bootstrap/scss/bootstrap';

$color-purple: #8367c7;
$color-sec: #ff7d59;
$color-bg: #e4f2f8;
$color-text: #39393a;
$color-text-light: rgba(#000, 0.7);
$color-white: #fff;
$color-black: #101116;
$color-orange: #f0aa4f;
$color-grey: #707070;

.text-primary-dark {
  color: #8264b4 !important;
}

body {
  line-height: 1.2;
}

.navbar {
  padding: 0.625rem 2.125rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  height: 72px;
  width: 72px;

  @media only screen and (max-width: 480px) {
    height: 40px;
    width: 40px;
  }
}

.nav-item {
  margin: 0 0 0 1.25rem !important;
}

.nav-link {
  text-decoration: none;
  color: #9c85d2 !important;
  font-size: 1.25rem;
  transition: 150ms color ease-in;

  &:hover {
    color: #ff7d59 !important;
  }
}

.nav-item-profile {
  align-items: center;
  margin-left: auto !important;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: 1rem 0 !important;
    margin-right: 50px;
    justify-content: flex-start;
    align-items: stretch;
  }

  .nav-link {
    padding: 0 !important;
    margin: 0.625rem 0 !important;
  }

  .nav-item-profile {
    margin-left: 0 !important;
  }
}

main {
  padding-top: calc((2 * 0.625em) + 72px);

  @media only screen and (max-width: 480px) {
    padding-top: calc((2 * 0.625em) + 40px);
  }
}

footer {
  background: #cccad6 0 0;
  border: 1px solid #707070;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 16px;
    max-width: 1200px;
    margin: 0 auto;

    .left-side {
      flex: 7;
      margin-right: auto;
    }

    .right-side {
      flex: 3;
    }

    @media only screen and (max-width: 768px) {
      display: block;

      .right-side {
        margin-top: 1rem;
      }
    }
  }
}

.profile-card {
  border-radius: 18px;
  min-width: 300px;
  padding-bottom: 1em;
  background-color: #fff;

  .profile-img-bg {
    background-color: #8264b4;
    height: 60px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 15px;
    padding-bottom: 11px;
    font-size: 1.3rem;
  }

  .profile-img {
    margin-top: -30px;
    border-radius: 0.325em;
    height: 75px;
    width: 75px;
  }
}

// Activity HeapMap

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}

.user-detail-card {
  border-radius: 18px;
  min-width: 300px;
  padding-bottom: 1em;
  background-color: #fff;

  .profile-img {
    margin-top: -30px;
    border-radius: 0.325em;
    height: 75px;
    width: 75px;
  }
}

.progress-bar-easy {
  background-color: #86dc98 !important;
  border-radius: 25px;
}
.progress-bar-medium {
  background-color: #ebd271 !important;
  border-radius: 25px;
}
.progress-bar-hard {
  background-color: #f6a981 !important;
  border-radius: 25px;
}

.comming-soon-card {
  border-radius: 18px;
  max-width: 400px;

  img {
    width: 100%;
    height: auto;
  }
}

.dropdown {
  cursor: pointer;
}

.nav-menu.show {
  width: 100%;
  top: 4px !important;
}
