@import 'bootstrap/scss/bootstrap';

$color-purple: #8367c7;
$color-sec: #ff7d59;
$color-bg: #e4f2f8;
$color-text: #39393a;
$color-text-light: rgba(#000, 0.7);
$color-white: #fff;
$color-black: #101116;
$color-orange: #f0aa4f;
$color-grey: #707070;

.navbar {
  padding: 0.625rem 2.125rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin-right: 50px;
  }
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  height: 72px;
  width: 72px;

  @media only screen and (max-width: 480px) {
    height: 40px;
    width: 40px;
  }
}

.nav-link {
  text-decoration: none;
  color: #9c85d2 !important;
  font-size: 1.25rem;
  transition: 150ms color ease-in;
  padding: 0 0 0 1.25rem !important;

  &:hover {
    color: #ff7d59 !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: 1rem 0 !important;
  }

  .nav-link {
    padding: 0 !important;
    margin: 0.625rem 0 !important;
  }
}
