.leaderboard {
  height: calc(100vh - 92px);
  background: #f2eff7;

  &__container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    height: 100%;
  }

  &__table {
    border-radius: 18px;
    box-shadow: 0 0 20px #0003;
    background-color: #fff;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-rows {
      overflow-x: auto;
      flex: 1;
    }

    &-header {
      border-bottom: 2px solid #d0d0d0;
    }

    .row {
      min-width: 500px;
    }

    .current-user {
      border-radius: 14px;
      box-shadow: 0 0 10px #6a0cd55c;
    }
  }

  &__card {
    border-radius: 18px;
    box-shadow: 0 0 20px #0003;
    background-color: #fff;
    padding: 0 1.5rem;

    &-title {
      border-bottom: 2px solid #d0d0d0;
    }
  }
}
