.videos {
  min-height: calc(100vh - 92px);
  background: #d8d1e3;
}

.margin-controller {
  margin: 0 7rem;
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
  .margin-controller {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .margin-controller {
    margin: 0.5rem;
  }
}

.card {
  background: #f2eff7 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 15px;

  .video_title {
    font-weight: bold;
    font-size: 1.3rem;
    color: #404040;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  min-width: 250px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
}

.right-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #99979b;
  white-space: nowrap;
}

.right-line {
  border-right: 3px solid #b1afb3;
}

.right-title-selected {
  color: #404040;
}

@media screen and (max-width: 450px) {
  .card .video_title {
    font-size: 1rem;
  }

  .right-title {
    font-size: 0.9rem;
  }
}

.questions {
  background-color: white;
  border-radius: 9px;
  font-size: 0.9rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000029;

  .img {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .title {
    padding: 5px 11px;
    width: 100%;
    color: #404040;
    cursor: pointer;
    text-decoration: none;
  }
}
