body {
  margin: 0;

  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Card {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.react-calendar-heatmap {
  width: -webkit-fill-available;
}
.react-calendar-heatmap .color-scale-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: hsl(124, 55%, 26%);
}

.textHover:hover {
  color: blue !important;
}
/* .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  height: 200px;
} */
.makeStyles-drawer-7 {
  width: 0 !important;
}
